In [81]:
import os
import glob
import sqlite3
import pandas as pd

pasta = '../data'
tipo_arquivo = '*.json'

caminhos_arquivos = glob.glob(os.path.join(pasta, tipo_arquivo))

In [91]:
df = pd.DataFrame(columns=['customer', 'flow', 'session', 'timestamp', 'key', 'value'])

conn = sqlite3.connect('meta.db')

for arquivo in caminhos_arquivos:
    data = pd.read_json(arquivo)
    data['key'] = data.apply(lambda x: list(x['content'].keys())[0], axis=1)
    data['value'] = data.apply(lambda x: x['content'][x['key']], axis=1)
    data.drop(columns=['content'], inplace=True, errors='ignore')
    df = pd.concat([df, data], axis=0, ignore_index=False)

df.to_sql('chatbot', conn, if_exists='replace', index=False)
conn.close()

C:\Users\anselmo.oliveira\AppData\Local\Temp\ipykernel_44252\2741494418.py:10: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, data], axis=0, ignore_index=False)

In [92]:
df

,customer,flow,session,timestamp,key,value
0,C1000,F1000,S1000,2019-12-16 13:59:58+00:00,name,maria
1,C1000,F1000,S2000,2019-12-16 13:59:58+00:00,name,
2,C1000,F1000,S2000,2019-12-16 13:59:59+00:00,name,joao
3,C2000,F2000,S3000,2019-12-16 13:59:59+00:00,recomenda,Simmmmmmm
4,C1000,F1000,S2000,2019-12-16 13:59:59+00:00,cpf,733.600.420-26
0,C1000,F1000,S1000,2019-12-16 14:00:00+00:00,cpf,ZZZ
1,C1000,F1000,S2000,2019-12-16 14:00:00+00:00,delivery_confirmed,false
2,C1000,F1000,S1000,2019-12-16 14:00:01+00:00,cpf,305.584.960-40
3,C2000,F2000,S3000,2019-12-16 14:00:01+00:00,nota,9
4,C1000,F1000,S1000,2019-12-16 14:00:01+00:00,delivery_confirmed,true