In [101]:
import pandas as pd

In [102]:
# Leitura dos dados
df = pd.read_csv('../data/invoices.csv')
df['month'] = pd.to_datetime(df['month'])

In [103]:
# Visão geral dos dados
df.head()

  customer account      month  invoice
0    C1000   A1100 2019-07-01      500
1    C1000   A1100 2019-08-01     1000
2    C1000   A1100 2019-09-01    78000
3    C1000   A1100 2019-10-01    34000
4    C1000   A1100 2019-11-01    55000

In [104]:
data_referencia = pd.to_datetime('2020-01-01')
print(f'Data Referência: {data_referencia}')

Data Referência: 2020-01-01 00:00:00

In [105]:
df_filtrado = df[df['month'] < data_referencia]

In [106]:
# Função para calcular a média de faturamento
def calcula_media(df, account, meses):
    end_date = data_referencia - pd.DateOffset(months=meses)
    df_account = df[(df['account'] == account) & (df['month'] >= end_date)]
    if len(df_account) < meses:
        return None
    return df_account['invoice'].mean()

In [107]:
customer_account = df[['customer', 'account']]
customer_account

   customer account
0     C1000   A1100
1     C1000   A1100
2     C1000   A1100
3     C1000   A1100
4     C1000   A1100
5     C1000   A1100
6     C1000   A1200
7     C1000   A1200
8     C1000   A1200
9     C1000   A1300
10    C1000   A1300
11    C2000   A2100
12    C2000   A2100
13    C2000   A2100
14    C2000   A2100

In [108]:
customer_account = df[['customer', 'account']]
accounts = customer_account.account.unique()

In [109]:
resultado = pd.DataFrame(columns=['customer', 'account', 'avg_invoices_last_3_months', 'avg_invoices_last_6_months'])

In [110]:
for account in accounts:
    avg_invoices_last_3_months = calcula_media(df_filtrado, account, 3)
    avg_invoices_last_6_months = calcula_media(df_filtrado, account, 6)
    customer = customer_account[customer_account['account'] == account].iloc[0]['customer']
    data = pd.DataFrame({'customer': [customer],
                         'account': [account], 
                         'avg_invoices_last_3_months': [avg_invoices_last_3_months], 
                         'avg_invoices_last_6_months': [avg_invoices_last_6_months]})
    resultado = pd.concat([resultado, data])

C:\Users\anselmo.oliveira\AppData\Local\Temp\ipykernel_45592\2770258026.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  resultado = pd.concat([resultado, data])

In [111]:
resultado

  customer account  avg_invoices_last_3_months  avg_invoices_last_6_months
0    C1000   A1100                56333.333333                41416.666667
0    C1000   A1200                50666.666667                         NaN
0    C1000   A1300                         NaN                         NaN
0    C2000   A2100                55400.000000                         NaN